<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <div class="container">
        <h1>Hello Adult Life</h1>
        <table class="table" style="width:100%">
            <% budget.forEach((item, index) => { %>
                <tr> 
                    <td><%=item.date%></td>
                    <td><a href="budget/<%=index%>"><%=item.name%></a></td>
                    <td><%=item.amount%></td>
                </tr>
            <% }) %>
        </table>
        <a class="button" href="/budget/new">New budget</a>
    </div>
</body>
</html>