<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <div class="container">
        <h1><%=logs.title%></h1>
        <a class="btn btn-primary" href="/">back</a>
        <ul>
            <li>Title: <%=logs.title%></li>
            <li>Description: <%=logs.description%></li>
            <li id="rate">Rate: <%=logs.rate%></li>
            <li id="date">Date: <%=logs.date%></li>
        </ul>
        <p>
            <form method="POST" action="/logs/<%=logs._id%>?_method=DELETE">
                <button type="submit" class="btn btn-secondary">Delete log</button>
            </form>
        </p>
        <a class="btn btn-primary" href="/logs/<%=logs._id%>/edit">Edit</a>
    </div>
</body>
</html>