<!doctype html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
    <body style="background-image: url('https://source.unsplash.com/p23YJJMT16s/1920x2560');  color: white; background-repeat: no-repeat; background-size: cover;">
        <div class="container py-4">
            <h1>A timeline of learnings</h1>
            <table class="table" style="width:100%; background: white;">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <% logs.forEach((item, index) => { %>
                        <tr> 
                            <td><%=item.date%></td>
                            <td><a href="logs/<%=item._id%>"><%=item.title%></a></td>
                            <td><%=item.rate%></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <a
                href="new"
                class="btn btn-primary"
            >
                new log
            </a>
            <a
                href="graph"
                class="btn btn-primary"
            >
                Growth
            </a>
        </div>
    </body>
</html>